<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--명시해야할 권한 = 위험 권한 = 런타임 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  android:maxSdkVersion="28" /><!--29이상부터는 필요없다.-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-permission android:name="android.permission.READ_SMS" />-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /><!--과거버전에서는 물어보지 않아서, 무조건 명시하지 않도록 처리한다.-->

    <uses-permission android:name = "android.permission.VIBRATE"/> <!--진동 효과-->

    <!--여기만으로 OK-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/><!--오레오 버전 부터 추가된  설치 권한-->
    <uses-permission android:name="android.permission.BLUETOOTH"/><!--핸드폰정보 이름 설정값을 알아오기위한 블루투스 권한-->
    <application
        android:requestLegacyExternalStorage="true"
        android:name="com.symbol.kumkangpop.view.application.ApplicationClass"
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.SplashScreenActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.ProgressFloorReturnActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0000"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0010"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0100"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0120"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0122"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0300"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0400"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0500"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu2.Activity2000"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu2.Activity2100"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu2.Activity2200"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu3.Activity3000"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu3.Activity3010"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu3.Activity3100"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu3.Activity3110"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu3.Activity3200"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu3.Activity3300"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu3.Activity3310"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu4.Activity4000"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu4.Activity4100"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu5.Activity5000"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu5.Activity5010"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu5.Activity5100"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu5.Activity5110"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu5.Activity5200"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu5.Activity5210"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu5.Activity5300"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu5.Activity5310"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu5.Activity5400"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu5.Activity5410"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0410"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0510"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0411"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu0.Activity0412"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu1.Activity1000"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu1.Activity1100"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu2.Activity2300"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu9.Activity9000"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.menu9.Activity9100"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.report.ActivityReport1"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.report.ActivityReport2"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.report.ActivityReport3"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.report.ActivityReport4"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.report.ActivityReport5"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.report.ActivityReport6"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.report.ActivityReport7"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name="com.symbol.kumkangpop.view.activity.LoginActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <receiver
            android:name=".view.receiver.StartupReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>